page-home{
body {
    
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
   
    width: 50%;
    margin: 0 auto;
}
.bg{
    background:  linear-gradient(to bottom ,  #183152,#40A497);
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}

.image {
    background: transparent;
    border-radius: 70%;
}
.center {
    margin-top:20px; 
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 125px;
}
  .item{
    background:rgba(15, 150, 150, 0);
  }
}